h3{
	font-family:opensans semibold;
}
.section-header-underline{
	height:4px;
	width:80px;
	background-color:#8dc0d3;
	margin:0 auto;}

#banner{
  width:100%;
}
#about-us{
  min-height:200px;
  text-align: center;
  padding-bottom:30px;
}
#about-us h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

#about-us p{
  font-family:opensans regular;
  font-size: 14px;
  text-align: center;
}

#about-us .section-content{
	margin-top:3%;
}
#meet-the-team{
  min-height:200px;
  background-color: #f8f8f8;
  padding-bottom:30px;
}

#meet-the-team h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}

#team-images{
  margin-top:3%;
  margin-bottom:3%;
}
#team-images img{
	width:100%;
}

#map{
  padding:0;
  overflow:hidden;
  position:relative;
}
#map img{
  width: 100%;
}
#map .header{
	position:absolute;
	top:4%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

#map h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  top:4%;
  width:100%;
}

#map .section-header-underline{
  top:13%;
  left:44%;
  width:80px;
}

#awards{
  min-height:100px;
  background-color: #ffffff;
padding-bottom:30px;
}

#awards h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
 padding-top:30px;
}
#awards-logo{
  width: 100%;
  margin-top: 10%;
}

#featured-in{
  min-height:100px;
  background-color: #f8f8f8;
padding-bottom:30px;
}

#featured-in h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 30px;
}
#featured-logo{
  width: 100%;
  margin-top:10%;
}

#find-us{
  background-color: #ffffff;
  min-height:200px;
  margin-bottom:30px;
}

#find-us h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top:30px;
}
#pigibag-map{
	width:100%;
}
#find-us-text-container{
  padding-top: 10px;
}
#find-us .row{
	margin-top: 3%;
}

#find-us-text p{
  font-family: opensans semibold;
  font-size:14px;
  text-align: left;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
	#find-us-text-container, #pigibag-map {
	  margin-top: 30px;
	}

}