.content{
	padding-bottom:30px;
}
u1.breadcrumb {
	padding-top:10px;
}

#countries-banner {
	width:100%;
}
#header {
	padding-top:12px;
	font-size:24px;
	font-family:opensans semibold;
}

.breadcrumb {
	background-color:#ffffff !important;
	padding-left:0px !important;
}
.section-header-underline{
	height:4px;
	width:90px;
	background-color:#8dc0d3;
}

#search {
	margin-top:25px;
	
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f8f8f8;
}

#search button{
	background-color:#8dc0d3;
	color:white;
	border:none;
	outline:none;
	height:inherit;
	font-size:18px;
	font-family: opensans bold;
}
#search .input-group{
	height:40px;
}
#search input{
	height:inherit;
	font-family: opensans regular;
}
#search .input-group-btn{
	height:inherit;
}
#search .form-group{
	margin-bottom:0;
}



.listings div{
	margin:auto;
	margin-top:30px;	
}

.listings img{
	width: 100%;
}

#footer{
	height:212px;
	background-color:black;
	overflow:hidden;
}

@media screen and (max-width: 992px) {
	
	
}
@media screen and (max-width: 768px) {
	#countries-banner{
		display:none;
	}
	#mobile-countries-banner{
		display:block !important;
		width:100%;
	}
	#search .input-group{
		height:34px;
	}
	#search input{
		font-size:14px;
	}
	#search button{
		padding:0 9px;
		font-size:16px;
	}
}