h3{
	font-family:opensans semibold;
}
.section-header-underline{
	height:6px;
	width:118px;
	background-color:#8dc0d3;
	margin:0 auto;
}

#banner img{
  width:100%;
}
#infographic img{
	width:100%;
}

#why-use-us{
  width: 100%;
  min-height:128px;
  background-color: #b9e1ed;
}
#why-use-us .row{
	padding-top:5%;
	padding-bottom:5%;
}
#why-use-us h1{
  font-family:opensans semibold;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 47px;
}
#why-use-us img{
	background-color: #b9e1ed;
	margin-bottom:5%;
}

#footer{
	height:16.5625vw;
	background-color:black;
	overflow:hidden;
	position:absolute;
	left:0;
	right:0;
	color:white;
}
