
/* Carousel */
#myCarousel{
	cursor:pointer;
}
#myCarousel .search-box{
	position:absolute;
	z-index:1;
	bottom:13%;
	font-size: 16px;
	color:black;
}
#myCarousel .search-box button{
	background-color:#8dc0d3;
	color:white;
	border:none;
	outline:none;
	height:inherit;
	font-size:18px;
	font-family: opensans bold;
}
#myCarousel .search-box .input-group{
	height:40px;
}
#myCarousel .search-box input{
	height:inherit;
	font-family: opensans regular;
}
#myCarousel .search-box .input-group-btn{
	height:inherit;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:white;
}


#myCarousel .carousel-inner img{
	max-height:593px;
	width:100%;
}
#myCarousel .carousel-inner .item{
	overflow:hidden;
}

.search-mobile-bg{
	display:none;
}
.search-mobile-bg img{
	width:100%;
}
/* how it works */
#how-it-works{
	
}
.section-header{
	text-align:center;
}
.section-header p{
	font-size: 24px;
	font-family: opensans bold;
	text-transform:uppercase;
	margin:0;
}
.section-header-underline{
	height:4px;
	width:80px;
	background-color:#8dc0d3;
	margin:0 auto;
	margin-top:10px;
}
.section-div{
	padding:30px 0;
	min-height:200px;
}
#how-it-works .section-content{
	display:table;
	margin:auto;
	margin-top:30px;
}
#how-it-works .section-content img{
	width:100%;
	margin-bottom:30px;
}


/*why us section*/
#why-us{
	overflow:hidden;
	background-image:url(../images/whyus-background.png);
	background-size:cover;
}
.section-header-detail{
	text-align:center;
	font-family: opensans regular;
	font-size:18px;
	margin-top:30px;
}
#why-us .row{
	margin:0;
	margin: 30px auto 0;
}
#why-us .row div{
	text-align:center;
}
#why-us .row div h3{
	font-family:opensans semibold;
	font-size:20px;
	min-height:44px;
}
#why-us .row div p{
	font-family:opensans regular;
	font-size:13px;
}

#why-us .section-content .col-xs-6{
	min-height:300px;
}

/*by countries*/
#browse-by-countries{
	min-height:300px;
	overflow:hidden;
}
#browse-by-countries .section-content{
	margin-top:30px;
}
#browse-by-countries .row{
	margin:0;
}
#browse-by-countries .row div{
	text-align:center;
	margin-bottom:10px;
	padding:0 5px;
}
#browse-by-countries .row div h3{
	font-family:opensans semibold;
	font-size:18px;
}
#browse-by-countries .row div p{
	font-family:opensans regular;
	font-size:13px;
}
#browse-by-countries img{
	max-height:100%;
	max-width:100%;
	width:100%;
	border-radius:5px;
}
.show-more{
	text-align:center;
}
.show-more button{
	border: none;
    background-color: #8dc0d3;
    outline: none;
    margin: 0;
    padding: 0;
    width: 175px;
    height: 42px;
    border-radius: 25px;
    font-size: 18px;
    font-family: opensans bold;
    color: white;
}

/*popular request*/
#popular-requests{
	min-height:300px;
	background-color:#f8f8f8;
	overflow:hidden;
}
#popular-requests .nav{
	padding-left:30px;
	margin-top:30px;
}
#popular-requests .section-content{
	margin-top:30px;	
}
#popular-requests li>a{
	color:#4b4b4b;
	font-size:20px;
	font-family:opensans regular;
	padding-left:35px;
	padding-right:35px;
}
#popular-requests img{
	max-height:100%;
	max-width:100%;
	width:100%;
	border-radius:5px;
}
#popular-requests .dropdown button{
	background-color:#8dc0d3;
	color:white;
	border:none;
	outline:none;
	border-radius:5px;
	padding:7px 13px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #f8f8f8;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #f8f8f8;
	border:1px solid #a8a8a8;
	border-bottom-color:transparent;
}
#popular-requests .row{
	margin:0;
	width:100%;
}
#popular-requests .row div{
	text-align:center;
	margin-bottom:10px;
	padding:0 5px;
}
#popular-requests .row div h3{
	font-family:opensans semibold;
	font-size:18px;
}
#popular-requests .row div p{
	font-family:opensans regular;
	font-size:13px;
}
#popular-requests .show-more{
	margin-top:20px;
}


#popular-requests .dropdown ul{
	width:70%;
	margin-left:15%;
	margin-top:0;
	padding:0;
}

/*reviews*/
#reviews{
	min-height:200px;
	overflow:hidden;
}
#reviews-carousel .carousel-control{
	background:none;
}
#reviews-carousel .carousel-control .glyphicon{
	color:black;
	top:42%;
	font-size:54px;
}
#reviews-carousel .row{
	margin:0;
	width:73%;
	margin:0 auto;
}
#reviews-carousel .row div{
	text-align:center;
	margin-top: 30px;
}
#reviews-carousel .row div h3{
	font-family:opensans semibold;
	font-size:18px;
}
#reviews-carousel .row div p{
	font-family:opensans regular;
	font-size:13px;
}
#reviews-carousel img{
	max-height:100%;
	max-width:100%;
}

/*lets-stay-in-touch*/
#stay-in-touch{
	min-height:100px;
	overflow:hidden;
	background-image:url(../images/subscribe-background.png);
	background-size:cover;
}
#stay-in-touch .section-header-detail{
	font-family:opensans regular;
	font-size:20px;
}
#stay-in-touch .search-box{
	margin-top:30px;
}

#stay-in-touch .search-box button{
	background-color:#8dc0d3;
	color:white;
	border:none;
	outline:none;
	height:inherit;
	font-size:18px;
	font-family: opensans bold;
}
#stay-in-touch .search-box .input-group{
	height:40px;
}
#stay-in-touch .search-box input{
	height:inherit;
	font-family: opensans regular;
}
#stay-in-touch .search-box .input-group-btn{
	height:inherit;
}

#footer{
	height:212px;
	background-color:black;
	overflow:hidden;
}

@media screen and (max-width: 992px) {
	
	
}
@media screen and (max-width: 768px) {

	#myCarousel .search-box{
		position:relative;
	}
	#myCarousel .form-group{
		margin-top:30px;
		margin-bottom:0;
	}
	.search-box .input-group{
		height:28px;
	}
	.search-box input{
		font-size:13px;
	}
	.search-box button{
		padding:0 9px;
		font-size:13px;
	}
	#myCarousel .search-mobile-bg{
		display:block;
	}
	#reviews-carousel .carousel-control .glyphicon{
		font-size:24px;
	}
	#popular-requests .nav{
		display:none !important;
	}
	#popular-requests .dropdown{
		display:block !important;
	}
	#popular-requests .dropdown button{
		width: 70%;
		margin: auto;
		display: block;
		margin-top: 30px;
		font-size:18px;
		font-family:opensans bold;
	}
	.section-div{
		padding-left:5px;
		padding-right:5px;
	}
}