.btn-custom.btn-primary.active {
	background-color: #65BEB9;
	color: #ffffff;
	border-color: #65BEB9;
}

.btn-custom.btn-primary {
	background-color: #ffffff;
	color: #000000;
	border-color: #65BEB9;
}

.btn {
	display: inline-block;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
}