.checked {
    color: orange;
}

#wantThisToo {
	background-color: #8dc0d3;
	border-color: #8dc0d3;
}

#offerToHelpBuy {
	background-color: #7fd97f;
	border-color: #7fd97f;
}

#addToWishList {
	background-color: #cccccc;
	border-color: #cccccc;
}

p {
	margin: 0 0 0 0;
}