.checked {
    color: orange;
}

#wantThisToo {
	background-color: #8dc0d3;
	border-color: #8dc0d3;
}

#offerToHelpBuy {
	background-color: #7fd97f;
	border-color: #7fd97f;
}

#addToWishList {
	background-color: #cccccc;
	border-color: #cccccc;
}

p {
	margin: 0 0 0 0;
}

.section-header-underline{
	height:6px;
	width:118px;
	background-color:#8dc0d3;
	margin:0 auto;
}

.btn.btn-default.dropdown-toggle, .btn.search, .btn.btn-default.dropdown-toggle:active, .btn.search:active{
	background-color:#8dc0d3;
	color:white;
	border:#8dc0d3;
}

.btn.btn-default.btn-block {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #ffffff;
	font-family: opensans semibold;
}

.breadcrumb {
	background-color: inherit;
	font-family: opensans semibold;
	font-size: 16px;
	margin-bottom: 0px;
}

.section-header-underline{
	height:6px;
	width:118px;
	background-color:#8dc0d3;
	margin:0 auto;
}

#search-bar {
	margin-bottom: 20px;
}

#request-description, #traveller-profile{
	border: 1px solid #d2d2d2;
	padding: 10px 20px 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#first-row {
	border-bottom: 1px solid #d2d2d2;
}

#traveller-detail {
	border-right: 1px solid #d2d2d2;
}

#review {
	color: #8dc0d3;
	font-size: 12px;
	vertical-align: center;
}

h2 {
	font-size: 24px;
	font-family: opensans semibold;
}

h3 {
	font-size: 24px;
	font-family: opensans bold;
	margin-bottom: 0px;
	color: #000000;
}

i {
	size: 30px;
	color: #8dc0d3;
}

p {
	font-size: 14px;
	font-family: opensans regular;
}

#request-description p {
	padding-top: 5px;
}

#traveller-profile p, #requester-profile p {
	font-family: opensans semibold;
}

#second-row{
	padding-top: 10px;
}

#viewed {
	margin-top: 40px;
	margin-bottom: 50px;
}