/* font imports */
@font-face {
    font-family: pumpkin;
    src: url(../font/DK%20SPICED%20PUMPKIN.OTF);
}
@font-face {
    font-family: opensans regular;
    src: url(../font/OPENSANS-REGULAR.TTF);
}
@font-face {
    font-family: opensans semibold;
    src: url(../font/OPENSANS-SEMIBOLD.TTF);
}
@font-face {
    font-family: opensans bold;
    src: url(../font/OPENSANS-BOLD.TTF);
}

body{
	background-color:white;
	padding-top:60px;
	overflow-x:hidden;
	font-family:opensans regular;
}
.container-fluid{
	padding:0px;
}
/* nav bar */

#myNavbar{
	height:60px;
	padding-left:4%;
	padding-right:2%;
	border-bottom:1px solid #dddddd;
}
.navbar-header a{
	padding:0;
	height:100%;
}
.navbar-header a>img{
	padding:11px 0;
}
.navbar-header button{
	padding-top:14px;
	padding-bottom:14px;
}
.navbar-fixed-top .nav li{
	padding:5px 0;
}
.navbar-fixed-top .nav li>a{
	font-size: 16px;
	text-transform:uppercase;
	font-family:opensans semibold;
	color:#8dc0d3 !important;
}
.navbar-fixed-top{
	background-color:#ffffff;
}
.navbar-fixed-top .dropdown-menu li>a{
	font-size: 14px;
}
h3{
	font-family:opensans semibold;
}
#footer{
	height:auto;
	background-color:#000000;
	color:white;
	padding-bottom: 30px;
	padding-top: 20px;
	margin-top: 30px;
}

#footer h3{
	text-transform: uppercase;
	font-size: 16px;
	font-family:opensans semibold;
	color:#ffffff;
	margin-bottom: 10px;
}

#footer p, #footer a{
	color: #ffffff;
	font-size: 12px;
	font-family:opensans regular;
}

#footer a:visited{
	color: grey;
}

#footer i {
	color: white;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 16px;
}

#footer img {
	height: 55px;
	margin-top: 10px;
	border-radius:0% ;
}

@media screen and (max-width: 992px) {
	#myNavbar{
		padding-left:6%;
		padding-right:3%;
	}
	.navbar-fixed-top .nav li>a{
		font-size: 13px;
	}
	
	
}

@media screen and (max-width: 768px) {
	#myNavbar{
		padding-left:9%;
		padding-right:4%;
	}
	#navbarCollapse{
		background-color:white;
		float:right;
		margin-right:0;
	}
	#navbarCollapse ul{
		margin-top:0;
		margin-bottom:0;
		padding:15px;
		border:1px solid #dddddd;
		border-top:none;
		border-radius:0 0 5px 5px;
	}
	#footer{
		display:none;
	}
}