#user-profile{
	margin-top:2%;
}
#user-profile .content{
	font-size:14px;
	font-family:opensans regular;
}
#user-profile .title{
	font-family:opensans bold;
	font-size:24px;
}
#user-profile .user-pic img{
	width:100px;
	height:100px;
	background-color:white;
	border-radius:50px;
}
#user-profile .about-us-btn{
	outline:none;
	background-color:white;
	border:2px solid #8dc0d3;
	color:#8dc0d3;
	padding:0px;
	border-radius:5px;
	width:122px;
	height:44px;
}
#user-profile .user-details p{
	margin:0;
}
#joined-date{
	color:#8dc0d3;
}
#traveller-tag{
	color:#8dc0d3;
}
.checked{
	color:#ffda44;
}
#delivery-rate{
	color:#bfc3ba;
}
#delivery-rate span{
	margin-left:3%;
}
#about-me .about-me-header{
	color:#243d5b;
	font-size:20px;
	font-weight:bold;
}
#about-me .about-me-detail{
	margin:0;
	color:#8dc0d3;
}
.fa-paper-plane{
	color:#8dc0d3;
}
#about-me .activity-amount{
	font-size:18px;
	font-family: opensans semibold;
	color:#243d5b;
}
#about-me .activity{
	margin-top: 36px;
}
#about-me .activity img{
	float:left;
	padding-right:22px;
	max-height:75px;
	height:100%;
	min-width:108px;
}
#about-me .activity-name{
	color:#8dc0d3;
}
#about-me .following{
	margin-left:10%;
}
.float-left{
	float:left;
}
#top-up-div{
	margin-top:18px;
}
#wallet-detail{
	padding-top: 20px;
	padding-left:38px;
}
.section-header{
	margin-top: 2%;
	text-align:center;
}
.section-header p{
	font-size: 24px;
	font-family: opensans bold;
	margin-bottom:0;
	color:black; 
}
.section-header-underline{
	height:6px;
	width:118px;
	background-color:#8dc0d3;
	margin:0 auto;
	margin-bottom:5%;
}
.show-more{
	text-align:center;
}
.show-more button{
	border:none;
	background-color: #8dc0d3;
	outline:none;
	margin:0;
	padding:0;
	width:266px;
	height:51px;
	border-radius: 25px;
	font-size:24px;
	font-family:opensans bold;
	color:white;
	margin:32px 0;
}
#wishlist img{
	width:100%;
}
@media screen and (max-width: 992px) {
	
}
@media screen and (max-width: 768px) {
	.user-details, .user-pic,.title,p{
		text-align:center !important;
	}
	#about-me{
		padding: 0 5%;
	}
	.float-left{
		float:none;
	}
	.about-us-btn{
		margin-top:3%;
	}
}